.calculation {
  background-color: khaki;

  // Property Nesting
  .container {
    display: flex;
    position: absolute;
    width: calc(100% - 80px);
    height: 100%;
    margin-left: 80px; /* Navigation width */
  }

  .name-frame {
    background-color: var(--container-40);
    padding: 80px 40px;

    /* stack */
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .name-list,
  .payment-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    /* 스크롤 만들기 */
    overflow-y: auto;
    height: 100%;
  }

  .payment-frame {
    flex: 1;
    max-width: 1000px;
    padding: 80px 40px;

    /* stack */
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.table-titles {
  display: flex;
  flex-direction: row;
  color: var(--text-02);
  margin-left: 4px; // PaymentCard 의 padding 과 맞추기 위해
  gap: 18px;
  font-size: 14px;

  .payer {
    width: 100px;
    padding-left: 6px; // NameTag 의 padding 과 맞추기 위해
  }

  .memo {
    width: 100px;
    padding-left: 8px;
  }

  .money {
    width: 100px;
    text-align: end;
  }

  .users {
    flex: 1;
    padding-left: 76px;
  }
}

.handle {
  display: none; // visibility: hidden;
  width: 30px;
  position: absolute;
  top: 12px;
  left: -30px;
  justify-content: center;
  z-index: 3;
  color: var(--icon-02);
}
