.calculation {
  background-color: khaki;

  // Property Nesting
  .container {
    display: flex;
    position: absolute;
    width: calc(100% - 76px);
    height: 100%;
    margin-left: 80px; /* Navigation width */
  }

  .name-frame {
    background-color: var(--container-40);
    padding: 80px 40px;

    /* stack */
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .name-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .payment-frame {
    flex: 1;
    max-width: 1000px;
    padding: 80px 40px;

    /* stack */
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.table-titles {
  display: flex;
  flex-direction: row;
  color: var(--text-02);
  margin: 12px 0px 0px 26px;
  gap: 6px;
  /* background-color: yellowgreen; */

  .payer {
    width: 100px;
  }

  .memo {
    width: 100px;
  }

  .money {
    width: 100px;
  }

  .users {
    flex: 1;
  }
}

.handle {
  display: flex;
  padding: 0px 8px;
}

.input-focus {
  background-color: var(--container-50);
  padding: 0px 8px;
}

.input-blur {
  background-color: unset;
  padding: 0px;
}
