.calculation__container {
  display:flex;
  background-color: tomato;
  position: absolute;
  width: calc(100% - 32px);
  height: calc(100% - 76px - 16px);
  padding: 16px;
  padding-top: 76px;
}

.name {
  background-color: white;
  width: 17%;
  margin-right: 16px;
}

.money {
  background-color: white;
  width: 48%;
  flex: 1;
  margin-right: 16px;
}

.column3 {
  width: 29%;
}

.result {
  background-color: white;
  height: 86%;
}

.calculateBtn {
  margin-top: 16px;
  width: 100%;
  height: calc(14% - 16px);
}

.title {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  align-items: center;
  justify-content: space-between;

  color: black;
  font-size: 24px;
  font-weight: 700;
}

.title button {
  color: green;
  background-color: unset;
  border: unset;
}

.table__id {
  display: flex;
  flex-direction: row;
  background-color: yellowgreen;
}

.table__id__memo {
  width: 20%;
}

.table__id__payer {
  width: 20%;
}

.table__id__money {
  width: 20%;
}

.table__id__users {
  width: 20%;
}

.table__element {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: yellow;
}

.result__element {
  display: flex;
  flex-direction: row;
  background-color: violet;
}

.result__element__name {
  width: 30%;
}

.result__element__paidMoney {
  width: 35%;
}

.result__element__usedMoney {
  width: 35%;
}