.calculation .container {
  display: flex;
  position: absolute;
  width: calc(100% - 76px);
  height: 100%;
  margin-left: 76px;
}

.calculation .name_frame {
  background-color: var(--container-40);
  width: 250px;
  padding: 80px 40px;

  /* stack */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.calculation .name_list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.calculation .payment_frame {
  flex: 1;
  padding: 80px 40px;

  /* stack */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.result {
  background-color: white;
  height: 86%;
}

.calculateBtn {
  margin-top: 16px;
  width: 100%;
  height: calc(14% - 16px);
}

.table__id {
  display: flex;
  flex-direction: row;
  background-color: yellowgreen;
}

.table__id__memo {
  width: 20%;
}

.table__id__payer {
  width: 20%;
}

.table__id__money {
  width: 20%;
}

.table__id__users {
  width: 20%;
}

.table__element {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: yellow;
}

.result__element {
  display: flex;
  flex-direction: row;
  background-color: violet;
}

.result__element__name {
  width: 25%;
}

.result__element__paidMoney {
  width: 25%;
}

.result__element__usedMoney {
  width: 25%;
}
