.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 60px;
  height: 100%;
  padding: 8px;
  gap: 24px;
  background-color: var(--container-50);
  align-items: center;
  z-index: 10;
}

.nav .logo {
  width: 48px;
  height: 48px;

  /* 중앙 정렬 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .logo a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: var(--icon-01);
}

.nav .menu_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu_list a {
  width: 48px;
  height: 48px;
  color: var(--icon-01);

  /* 중앙 정렬 */
  display: flex;
  align-items: center;
  justify-content: center;
}
