.input-container {
  /* focus 되었을 때 height 가 약간 늘어나는데
 그 차이를 없애주기 위해 높이 고정 */
  height: 44px;
  width: 100%;
  display: flex;
  // background-color: violet;
  align-items: center;

  .input {
    /* focus 될 때 하이라이트 되는 효과 없애기 */
    outline: none;

    font-size: 16px;
    color: var(--text-01);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    background-color: unset;

    /* number type 일 때 화살표 버튼 없애기 */
    -webkit-appearance: none;

    &:focus {
      background-color: var(--container-50);
    }
  }
}
