.payment_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--container-30);
  border-radius: 8px;
  padding: 8px 8px 8px 0px;
  gap: 6px;
  border: 2px solid var(--container-30);
}

.payment_card .column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.payment_card .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.payment_card p {
  font-size: 14px;
}

.payment_card input {
  /* focus 되었을 때 height 가 약간 늘어나는데
     그 차이를 없애주기 위해 높이 고정 */
  height: 34px;
  /* focus 될 때 하이라이트 되는 효과 없애기 */
  outline: none;
  /* number type 일 때 화살표 버튼 없애기 */
  -webkit-appearance: none;

  font-size: 14px;
  color: var(--text-01);
  border-radius: 8px;
}

/* number input 에 화살표 버튼 지우기 */
.payment_card input::-webkit-inner-spin-button {
  appearance: none;
}

.payment_card .payer {
  width: 100px;
}

.payment_card .memo,
.payment_card .money {
  display: flex;
  width: 100px;
}

.payment_card .users {
  flex: 1;
}

.payment_card .delete_btn {
  color: var(--icon-02);
  display: flex;
}
